:root {
  --primary-colour: rgb(49, 255, 93);
  --background-color: rgb(30, 33, 39);
  --secondary-background-color: rgb(37, 38, 43);
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background-color);
  color: rgb(49, 255, 93);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.content {
  opacity: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 60px);
  width: 100%;
  transition: opacity 0.4 ease;
  padding: 0 20px;
}

.content li {
  padding: 10px 0;
  border-bottom: 1px #555;
  background: var(--secondary-background-color);
}

.content.show {
  opacity: 1;
}

.hide {
  display: none;
}

nav {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: -5px;
  width: 100%;
}

nav ul {
  background-color: var(--secondary-background-color);
  display: flex;
  padding: 5px 0;
  margin: 0;
  list-style-type: none;
  height: 60px;
}

nav ul li {
  color: rgb(35, 180, 67);
  cursor: pointer;
  flex: 1;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

h1,
nav ul li:hover,
nav ul li:active {
  color: var(--primary-colour);
}

nav ul li p {
  font-size: 12px;
  margin: 2px 0;
}

.alert {
  text-align: center;
  padding: 5px;
  color: orange;
  border: orange 1px solid;
}

.form-control {
  margin: 15px 0;
}

.form-control label {
  display: block;
  margin-bottom: 10px;
}

.form-control input,
.form-control select {
  width: 100%;
  padding: 4px;
}

.btn {
  cursor: pointer;
  display: inline;
  border: 0;
  background: var(--secondary-background-color);
  color: #fff;
  padding: 7px 10px;
  margin-top: 10px;
}

.btn:active,
.btn:forus {
  outline: 0;
}

/* body { */
/* color: #e8f0ff; */
/* height: 100%; */
/* user-select: none; */
/* -webkit-app-region: drag; */
/* padding-top: 20px; */
/* -webkit-user-drag: ; */
/* } */
